@use "../node_modules/@picocss/pico/scss/pico" with (
  $enable-responsive-spacings: false,
  $enable-responsive-typography: false,
  $enable-semantic-container: false,
  $enable-classes: true,
  $modules: (
    "components/accordion": true,
    "components/nav": true,
    "components/card": true,
    "content/code": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/dropdown": false,
    "components/loading": false,
    "components/modal": false,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": false
  )
);