
<hr class="no-space"/>
<nav>
  <ul></ul>
  <ul>
    <li><a class="nav-border" href="{{ url_for('projects.index') }}"><b>Summary</b></a></li>
    <li><a class="nav-border" href="{{ url_for('projects.games') }}">Games</a></li>
    <li><a class="nav-border" href="{{ url_for('projects.simulation') }}">Simulation</a></li>
    <li><a class="nav-border" href="{{ url_for('projects.index')}}">Games</a></li>
  </ul>
  <ul></ul> {# Force-align the projects list to the left #}
  <ul></ul>
  <ul></ul>
  <ul></ul>
  <ul></ul>
</nav>
<hr class="no-space"/>