{% extends '_base.html' %}

{% block content %}
{% include "_projects_header.html" %}

<div>
  <!-- card testing... For next time -- loop through data and render here. -->
  <article class="project-image-card">
    <img src="/static/projects/game-projects/AsteroidaGraphica.png" />
    <footer>
      <div class="grid no-grid-wrap">
        <a href="https://github.com/guminer/asteroidagraphica">Asteroida Graphica</a>
        <div class="align-right">
          <small>December 2015</small>
        </div>
      </div>
      <br />
      <span class="tag-software">Software</span><span class="tag-games">Games</span>
    </footer>
  </article>
</div>
{% endblock content %}