{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<h2>About</h2>
<p>
  With access to either an <a href="https://www.epiloglaser.com/laser-machines/product-line/">Epilog Helix</a> or a <a href="http://www.ulsinc.com/products/">Universal</a> laser, you can make your own chess board.
</p>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/hardware-projects/laser-cut/chess-board/board.jpg" alt="Laser-engraved chess board with marbled squares."/>
      <footer>Laser-engraved chess board with marbled squares.</footer>
    </article>
  </div>
</div>
<div class="grid fit-content">
  <p>
    This chess board was created within 10 minutes using
    <a href="http://en.wikipedia.org/wiki/Microsoft_Visio">Visio</a>,
    and engraved in 30 minutes on the Universal laser.
    <br /><br/>
    Normally the translucent (engraved) squares would be completely opaque,
    but by using a reduced engraving power I instead engraved marbled squares.
    <br /><br/>
    With 3"-scale chess pieces from the
    <a href="http://www.unclesgames.com/">local game store</a>,
    the chess set was made complete.
  </p>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/hardware-projects/laser-cut/chess-board/boardWithPieces.jpg" alt="Laser-engraved chess board with pieces"/>
      <footer>Laser-engraved chess board with pieces</footer>
    </article>
  </div>
</div>
{% endblock content %}