{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<p>
  I decided to use a laser cutter to generate a filament holder for a 3D printer
</p>
<p>
  Unfortunately due to the location of the plastic feed input to the 3D printer, friction in the holder, and lack of structural stability, this design did not work very well.
</p>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/hardware-projects/laser-cut/filament-holder/laser_plans.png" alt="The laser cut plans for the filament holder, along with other plans."/>
      <footer>The laser cut plans for the filament holder, along with other plans.</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/hardware-projects/laser-cut/filament-holder/filamentholder.jpg" alt="The laser-cut filament holder."/>
      <footer>The laser-cut filament holder.</footer>
    </article>
  </div>
</div>
{% endblock content %}