{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/hardware-projects/printing/cases/galileo/galileo_case.jpg" alt="Intel Galileo Gen 2 Upper Case"/>
      <footer>Intel Galileo Gen 2 Upper Case</footer>
    </article>
  </div>
  <p>
    I used to use the Intel Galileo as an interface layer between the internet and IoT devices on my local network. This has since been decommissioned in favor of newer devices.
  </p>
</div>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/hardware-projects/printing/cases/galileo/galileo_base.jpg" alt="Intel Galileo Gen 2 Lower Base"/>
      <footer>Intel Galileo Gen 2 Lower Base</footer>
    </article>
  </div>
  <div>
    <p>
      I designed this case the opposite of most cases -- the base is very thin instead of the lid.
    </p>
    <p>
      This design makes it very easy to access the SSD connected to the Galileo, while the slots on the top still allow you to plug in devices and other accessories.
    </p>
  </div>
</div>
{% endblock content %}