{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<h2>About</h2>
<div class="grid">
  <div>
    <p>
      Available from <a href="http://www.thingiverse.com/thing:11071">Thingiverse</a>, this model cannot be produced with traditional manufacturing techniques. The wooden gears (spares for the printer) cannot physically fit through the holes in the model.
    </p>
    <p>
      This print was performed at thie highest resolution my printer can handle, 0.1 mm.
    </p>
    <p>
      Print time was 3 hours.
    </p>
  </div>
  <article>
    <img src="../../static/projects/hardware-projects/printing/gear-holder/gear_holder.jpg" alt="Completed Gear Holder 3D print"/>
    <footer>Completed Gear Holder 3D print</footer>
  </article>
</div>
<div class="grid">
  <article>
    <img src="../../static/projects/hardware-projects/printing/gear-holder/bad_holder_corner.jpg" alt="The underside of the wireframe solid, with low-quality streamers"/>
    <footer>The underside of the wireframe solid, with low-quality streamers</footer>
  </article>
  <article>
    <img src="../../static/projects/hardware-projects/printing/gear-holder/good_holder_corner.jpg" alt="The upperside of the wireframe solid, with good-quality layering"/>
    <footer>The upperside of the wireframe solid, with good-quality layering</footer>
  </article>
</div>
{% endblock content %}