{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/hardware-projects/printing/n64-logo/n64.jpg" alt="A Nintendo 64 Logo, in plastic."/>
      <footer>A Nintendo 64 Logo, in plastic.</footer>
    </article>
  </div>
  <div>
    <p>
      Available from <a href="http://www.thingiverse.com/thing:14519">Thingiverse</a>, this print was a test of a larger object and of a thin-walled part.
    </p>
    <p>
      Print time was 180 minutes.
    </p>
  </div>
</div>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/hardware-projects/printing/n64-logo/n64_innards.jpg" alt="The broken leg of the N64 logo."/>
      <footer>The broken leg of the N64 logo.</footer>
    </article>
  </div>
  <div>
    <p>
      This print was performed with 5% infill, and with a very thin wall, leaving an extremely hollow interior.
    </p>
    <p>
      Unfortunately, this infill ratio was insufficient. As a result, one of the legs partially broke, revealing the interior structure.
    </p>
  </div>
</div>
{% endblock content %}