{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<div class="grid fit-content">
  <p>
    Using Autodesk 123D Make (alternate download <a href="https://autodesk-123d-make.en.lo4d.com/windows">link</a>), I converted the <a href="http://nasa3d.arc.nasa.gov/detail/saturnv-c">Saturn V Model</a> from <a href="http://www.nasa.gov/">NASA</a> to a physical model.
  </p>
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/hardware-projects/laser-cut/saturn-v-model/saturn_v.jpg" alt="The laser-cut Saturn V model"/>
      <footer>The laser-cut Saturn V model</footer>
    </article>
  </div>
</div>
{% endblock content %}