{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<p>
  I spent some time in <a href="http://products.office.com/en-us/visio/flowchart-software">Visio</a> to generate a wave generator board from wooden scrap material. This let me  experiment with the Microsoft Garage's <a href="https://www.epiloglaser.com/products/legend-laser-series.htm">Epilog Helix</a> laser cutter.
</p>
<div class="grid fit-content">
  <p>
    This board was designed to recreate the <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/Waves/standw.html">standing wave</a> experiment with a linear actuator being driven with a <a href="http://www.mathworks.com/help/matlab/math/discrete-fourier-transform-dft.html">Fourier Transform</a>-generated waveform.
  </p>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/hardware-projects/laser-cut/wave-generator/waveholder.jpg" alt="The laser-cut wave generator board.<br/><small>A linear actuator on one end vibrates the string, generating standing waves.</small>"/>
      <footer>The laser-cut wave generator board.<br/><small>A linear actuator on one end vibrates the string, generating standing waves.</small></footer>
    </article>
  </div>
</div>
{% endblock content %}