{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<h2>About</h2>
<p>
  <b>{{ project.name }}</b> simulates simple static electric and gravitational fields, graphing the results in 2D and 3D.
</p>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/simulation-projects/field-sim/fieldSimulator1.png" alt="Three-particle 2D electric field diagram"/>
      <footer>Three-particle 2D electric field diagram</footer>
    </article>
  </div>
</div>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/simulation-projects/field-sim/fieldSimulator2.png" alt="Three-particle 3D electric field diagram"/>
      <footer>Three-particle 3D electric field diagram</footer>
    </article>
  </div>
</div>
<div class="grid fit-content">
  <div>
    <p>
      This program was initially written to simplify rote calculations for physics  homework.
    </p>
    <p>
      Visualizations were later added for debugging, validation, and experimentation
    </p>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/simulation-projects/field-sim/fieldSimulator3.png" alt="Three-particle 2D contour diagram of an electric field"/>
      <footer>Three-particle 2D contour diagram of an electric field</footer>
    </article>
  </div>
</div>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/simulation-projects/field-sim/fieldSimulator5.png" alt="Three-particle 2D electric field diagram using numbers instead of colors"/>
      <footer>Three-particle 2D electric field diagram using numbers instead of colors</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/simulation-projects/field-sim/fieldSimulator6.png" alt="Three-particle 2D electric field diagram using moving points"/>
      <footer>Three-particle 2D electric field diagram using moving points</footer>
    </article>
  </div>
</div>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/simulation-projects/field-sim/fieldSimulator7.png" alt="Three-particle 2D electric field diagram with a consistent gradient"/>
      <footer>Three-particle 2D electric field diagram with a consistent gradient</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/simulation-projects/field-sim/fieldSimulator4.png" alt="Three-particle 3D electric field diagram using numbers and colors to indicate strength"/>
      <footer>Three-particle 3D electric field diagram using numbers and colors to indicate strength</footer>
    </article>
  </div>
</div>
{% endblock content %}