{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<h2>About</h2>
<div class="grid">
  <p>
    <b>{{ project.name }}</b> simulates non-interacting particles with particle traces, working as a Java graphical performance and visualization experiment.
  </p>
  <article>
    <img src="../../static/projects/simulation-projects/vector-flow/vectorFlow1.png" alt="Particle simulation with mirrors, absorbers, counters, and attenuators"/>
    <footer>Particle simulation with mirrors, absorbers, counters, and attenuators</footer>
  </article>
</div>
<div class="grid">
  <article>
    <img src="../../static/projects/simulation-projects/vector-flow/vectorFlow2.png" alt="Particle simulation with collisions, non-euclidean space, and different colors"/>
    <footer>Particle simulation with collisions, non-euclidean space, and different colors</footer>
  </article>
  <article>
    <img src="../../static/projects/simulation-projects/vector-flow/vectorFlow3.png" alt="Particle simulation with non-euclidean (grid) space"/>
    <footer>Particle simulation with non-euclidean (grid) space</footer>
  </article>
</div>
<div class="grid">
  <article>
    <img src="../../static/projects/simulation-projects/vector-flow/vectorFlow4.png" alt="Particle simulation with collisions and gravity"/>
    <footer>Particle simulation with collisions and gravity</footer>
  </article>
  <article>
    <img src="../../static/projects/simulation-projects/vector-flow/vectorFlow5.png" alt="The white 2D box constrains particles. <br /> The blue 2D box counts particles entering and leaving"/>
    <footer>The white 2D box constrains particles. <br /> The blue 2D box counts particles entering and leaving</footer>
  </article>
</div>
{% endblock content %}