{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<h2>About</h2>
<p>
  This simple application takes the top and front view of drafting lines to construct a 3D wireframe view of the lines.
</p>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/drafting-program/perspectiveDrafting1.png" alt="An empty drafting pane"/>
      <footer>An empty drafting pane</footer>
    </article>
  </div>
</div>
<div class="grid fit-content">
  <div>
    <p>
       I wrote this program to simplify drafting homework
    </p>
    <blockquote> This program verifies proper 3D perspection of 2D lines.</blockquote>
  </div>
</div>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/drafting-program/perspectiveDrafting2.png" alt="Drawing & adding lines in the drafting program"/>
      <footer>Drawing & adding lines in the drafting program</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/drafting-program/perspectiveDrafting3.png" alt="3D view of a created tetrahedron"/>
      <footer>3D view of a created tetrahedron</footer>
    </article>
  </div>
</div>
{% endblock content %}