{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<h2>About</h2>
<p>
  I wrote this program to display and manipulate <a href="https://en.wikipedia.org/wiki/Julia_set">Julia</a> fractals, using direct write access to the graphics memory buffer.
</p>
<p>
  This was the last Windows Mobile application I wrote, because I lost the PDA on a trip to <a href="https://www.asme.org/events/competitions/human-powered-vehicle-challenge-(hpvc)">HPVC 2014</a>.
</p>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer1.png" alt="Julia fractal view #1"/>
      <footer>Julia fractal view #1</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer2.png" alt="Julia fractal view #2"/>
      <footer>Julia fractal view #2</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer3.png" alt="Julia fractal view #3"/>
      <footer>Julia fractal view #3</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer4.png" alt="Julia fractal view #4"/>
      <footer>Julia fractal view #4</footer>
    </article>
  </div>
</div>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer5.png" alt="Julia fractal view #5"/>
      <footer>Julia fractal view #5</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer6.png" alt="Julia fractal view #6"/>
      <footer>Julia fractal view #6</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer7.png" alt="Julia fractal view #7"/>
      <footer>Julia fractal view #7</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer8.png" alt="Julia fractal view #8"/>
      <footer>Julia fractal view #8</footer>
    </article>
  </div>
</div>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer9.png" alt="Julia fractal view #9"/>
      <footer>Julia fractal view #9</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer10.png" alt="Julia fractal view #10"/>
      <footer>Julia fractal view #10</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer11.png" alt="Julia fractal view #11"/>
      <footer>Julia fractal view #11</footer>
    </article>
  </div>
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/pda/fractal-viewer/fractalviewer12.png" alt="Julia fractal view #12"/>
      <footer>Julia fractal view #12</footer>
    </article>
  </div>
</div>
{% endblock content %}