{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<h2>About</h2>
<p>
  <b>{{ project.name }}</b> focused on how to capture ski performance data and render it from downhill ski resorts.
</p>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/mobile-projects/ski-gps/GoogleEarthTraces.png" alt="Ski runs overlaid on Google Earth from <a href=&quot;https://www.whistlerblackcomb.com/&quot;>Whistler Blackcomb</a> ski resort"/>
      <footer>Ski runs overlaid on Google Earth from <a href="https://www.whistlerblackcomb.com/">Whistler Blackcomb</a> ski resort</footer>
    </article>
  </div>
</div>

<h2>Process</h2>
<ul>
  <li>Acquire GPS trace data from ski runs. Several different smartwatches, such as those used for <a href="https://github.com/GuMiner/garmin-simple-clarity">SimpleClarity</a>, can be used.</li>
  <li>Export the data in GPX format</li>
  <li>Import the data into <a href="http://www.gpstrackeditor.com/">GPS Track Editor</a></li>
  <li>Delete incorrect traces, such as lift lines, and break apart each run into separate tracks.</li>
  <div class="grid max-content-height">
    <article>
      <img src="/static/projects/mobile-projects/ski-gps/GpsTrackEditorTraces.png" alt="Ski runs in the GPS Track Editor application"/>
      <footer>Ski runs in the GPS Track Editor application</footer>
    </article>
  </div>
  <li>Export the data as GPX format</li>
  <li>Import the data into <a href="https://earth.google.com/">Google Earth</a> and display as desired!</li>
</ul>
{% endblock content %}