{# GENERATED CONTENT #}
{% extends "_base.html" %}

{% block content %}
{% include "_projects_header.html" %}
{% include "_project_header.html" %}
<h2>About</h2>
<p>
  <b>{{ project.name }}</b> was a scientific calculator with unit analysis functionality, designed for users heavily using unit analysis.
</p>
<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/specialist-calculator/sc1.png" alt="A demo of unit analysis-based computations."/>
      <footer>A demo of unit analysis-based computations.</footer>
    </article>
  </div>
</div>
At the time, I had a Windows Phone and wrote this software for that platform.

<p>
  As that platform has been discontinued and the store shut down, this software is no longer available.
</p>

As a basic scientific calculator, this application supported:
<ul>
  <li>Trigonometric & inverse trigonometric functions</li>
  <li>Multiple base systems</li>
  <li>Logarithmic functions</li>
  <li>Variable storage and retrieval</li>
  <li>... etc ...</li>
</ul>

<div class="grid fit-content">
  <div class="grid max-content-height">
    <article>
      <img src="../../static/projects/mobile-projects/specialist-calculator/sc2.png" alt="Variable storage and retrieval demo"/>
      <footer>Variable storage and retrieval demo</footer>
    </article>
  </div>
</div>

<h2>Unique Aspects</h2>
<p>
  This was my only phone application incorporating advertisements, and was designed to be more useful (and polished) than <b>Numerian</b> (my first Windows Phone application).
</p>
<p>
  Surprisingly, incorporating advertisements was the easy part -- but due to the negligible user base, I'll never made any income from this application.
</p>
{% endblock content %}