{% extends '_base.html' %}

{% block content %}
{% include "_games_header.html" %}

<br />
<div class="grid fit-content">
    <label for="userName">Name</label>
    <input type="text" id="userName">
    <div class="expandable-border" style="width: 600px;">
        <form id="chatForm">
            <div class="grid fit-content">
                <label for="chatEntry">Chat</label>
                <input id="chatEntry" type="text"></input>
                <button type="submit">Send</button>
            </div>
        </form>
        <div class="expandable-border" id="chatResponse">
        </div>
    </div>
</div>
<div>
    <h3>Online users <i><small>[1 second delay, 5 second timeout]</small></i></h3>
    <div id="currentClients">
        <ul>
            <li>Loading...</li>
        </ul>
    </div>
</div>

<div class="grid">
    <div>
        <blockquote>
            Push this button to start your local video
            <br />
            <button type="button" onclick="cameraStart()">Start Camera and Mic</button>
        </blockquote>
        <div id="waitForCamera" style="display: none;">
            <blockquote>
                Push this button to start connecting to (ready) users.
                <br />
                <button type="button" onclick="connect()">Connect</button>
            </blockquote>
        </div>
    </div>
    <div id="localVideos"></div>
</div>
<div id="remoteVideos" class="grid">

</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/static/lobby.js"></script>
{% endblock scripts %}