{% extends '_base.html' %}

{% block content %}
{% include "_games_header.html" %}
<blockquote>
    Push this button first
    <br/>
    <button id="cameraStart" onclick="cameraStart()">Start Camera and Mic</button>
</blockquote>
<div>
    <h3>Online users</h3>
    <div id="currentClients">
        <ul><li>Loading...</li></ul>
    </div>
</div>

<form id="connectForm">
    <div class="grid fit-content">
        Name
        <input type="text" id="userName">
        <button type="submit">Connect</button>
    </div>
</form>
<div class="expandable-border">
    <form id="chatForm">
        <div class="grid fit-content">
            Chat
            <input id="chatEntry" type="text" ></input>
            <button type="submit">Send</button>
        </div>
    </form>
    <div class="expandable-border" id="chatResponse">
        <br/>
    </div>
</div>

<video id="localVideo" autoplay playsinline controls="false">
</video>
<div id="remoteVideos">
    
<video id="remoteVideo" autoplay playsinline controls="false">
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/static/lobby.js"></script>
{% endblock scripts %}