{% extends '_base.html' %}

{% block content %}
{% include "_games_header.html" %}
<div>
    <button type="button" id="fullscreenButton" onclick="enterFullscreen()">Enter Fullscreen</button>
    <button type="button" id="triangleButton" onClick="triangleMode()">Triangle</button>
    <button type="button" id="simButton" onClick="simMode()">Grid</button>
    <ul>
        <li>
            <button type="button" id="randomizeButton" onClick="randomize()">Randomize</button>
            <button type="button" id="rulesButton" onClick="readRules()">Update Rules</button>
        </li>
    </ul>
</div>
<div id="canvasDiv">
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/static/traces.js"></script>
{% endblock scripts %}