<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />

    {% include "_icons.html" %}
    <link rel="stylesheet" href="/static/index.css">

    <title>Helium24</title>
  </head>
  <body>
    <main class="container">
      <nav>
        <ul>
          <li><a class="nav-border" href="{{ url_for('index') }}"><strong>Helium</strong></a></li>
        </ul>
        <ul>
          <li><a class="nav-border" href="{{ url_for('projects.index') }}">Projects</a></li>
          <li><a class="nav-border" href="{{ url_for('puzzles_page') }}">Puzzles</a></li>
          <li><a class="nav-border" href="{{ url_for('game_page')}}">Game</a></li>
        </ul>
      </nav>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <hr/>
      <p>
        ©️ {{year}} Gustave Granroth
      </p>
    </footer>
    {% block scripts %}{% endblock scripts %}
    <script type="text/javascript" src="/static/index.js"></script>
  </body>
</html>