<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    {% include "_icons.html" %}

    <script type="stylesheet" src="/static/index.css"></script>
    <script type="text/javascript" src="/static/index.js"></script>

    <title>Helium24</title>
  </head>
  <body>
    <main class="container">
      {% block content %}
      {% endblock content %}
    </body>
  </body>
</html>